*{
	margin: 0;
	padding: 0;
	background-color: #C0C0C0;
	box-sizing: border-box;
 }
.display-4 {
	text-align: left;
	font-size: 150px;
	padding: 500px;
	font-size: 100px;
	font-family: 'Comforter', cursive;
}
div h1 {
	font-size: 100px;
	font-family: cursive;
	text-align: center;
	padding: 100px;
}
h1 + P {
	font-size: 2rem;
	margin-right: 5rem;
}
.sample {
	text-align: center;
	font-size: 5rem;
	font-family: 'Permanent Marker', cursive;
}

#pic3 {
	float: left;
	width: 48%;
	margin-bottom: 3rem;
}
#DS3 {
	font-family: 'Dancing Script', cursive;
}