*{
	margin: 0;
	padding: 0;
	background-color: #C0C0C0;
 }
h1 {
	font-size: 100px;
	font-family: 'Comforter', cursive;
	}

.display-4 {
	text-align: left;
	font-size: 150px;
	padding: 500px;
}
#bam {
	position: relative;
}